@model IEnumerable<BankingAdminApp.ViewModels.TransactionViewModel>
@using BankingAdminApp.Helpers
@inject Microsoft.Extensions.Options.IOptions<CryptoEngine.Secrets> config
@{
    ViewData["Title"] = "Index";
}

<div class="table-responsive">
    <table id="displayTable" class="table table-striped" width="100%">
        <thead>
            <tr>
                <th width="20%">
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.transaction_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.capture_date)
                </th>
                <th width="15%">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var formattedTransactionDate = Convert.ToDateTime(item.transaction_date).ToString("dd-MMM-yyyy");
                var formattedCaptureDate = Convert.ToDateTime(item.capture_date).ToString("dd-MMM-yyyy HH:mm:ss tt");
                var amount = Convert.ToDecimal(item.amount).ToString("0.00").Replace(',', '.');
                var values = $"code={item.code}";
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td style="text-align:right;color:@item.amountColor">
                        @Html.DisplayFor(modelItem => amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => formattedTransactionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>  formattedCaptureDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Transactions" asp-route-secret="@CryptoEngine.Encrypt(values, config.Value.Key)" class="btn btn-sm btn-info"><i class="fa fa-eye"></i> View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function() {
        if ('@TempData["UpdateTransactionSuccess"]' != "") {
            Swal.fire({
                icon: 'success',
                title: "Successfully Updated!",
                text: '@TempData["UpdateSuccess"]',
            })
        }
        if ('@TempData["CreateTransactionSuccess"]' != "") {
            Swal.fire({
                icon: 'success',
                title: "Successfully Created!",
                text: '@TempData["CreateSuccess"]',
            })
        }
    });
</script>
}
